doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='', content='text/html; charset=utf-8')
    title Добро пожаловать в Сарафан!
  body(yahoo='', bgcolor='#fff' 
    style='margin: 0; margin-bottom: 20px; min-width: 100%!important; font-weight: 400; background: #fafafa; padding: 3%; font-size: 15px; color: #313436')
    a(href="http://sarafan.online" style="margin-bottom: 30px; display: block; cursor: pointer" target="_blank")
      img(src="http://sarafan.online/images/logo.png")
    table(align='center', cellpadding='0', cellspacing='0', border='0', bgcolor='#fff', 
      style='width: 100%; max-width: 800px; padding: 3%; line-height: 1.5')
      tr
        td
          div(style="margin-bottom: 20px; font-weight: 700;") Здравствуйте, 
            span(style="") #{receiver.login}!
      tr 
        td
          div Спасибо, что присоединились к Сарафану.
      tr 
        td
          div(style="margin-top: 20px") Для того, чтобы запустить Сарафан для Вашего бизнеса достаточно: 
      tr 
        td
          div(style="margin-top: 5px") 
            ol(style="line-height: 1.7")
              li 
                a(href="http://sarafan.online/lk" style="cursor: pointer; color:#4aaf00" target="_blank") Заполнить профиль
                span &nbsp;– 2 минуты
              li 
                a(href="http://sarafan.online/lk/site" style="cursor: pointer; color:#4aaf00" target="_blank") Добавить сайт
                |, настроить цели
                span &nbsp;– 3 минуты
              li 
                | Дать программисту&nbsp;
                a(href="http://sarafan.online/files/site%20instruction.docx" style="cursor: pointer; color:#4aaf00" target="_blank") инструкцию
                |, чтобы он подключил Сарафан к сайту
                span &nbsp;– 5 минут
              li 
                a(href="http://sarafan.online/lk/balance" style="cursor: pointer; color:#4aaf00" target="_blank") Пополнить счет
                span &nbsp;– 2 минуты
              li 
                | Поделиться акцией в социалках 
                span &nbsp;– 1 минута
          div(style="margin-top: 10px; text-decoration: underline") Итого: 13 минут для запуска Сарафанного радио.
      tr 
        td
          div(style="margin-top: 20px; font-weight: 700;") Акция! 5 часов работы интернет-маркетолога в подарок при оплате до конца недели: 
      tr 
        td
          div 
            ol(style="line-height: 1.7")
              li Мы настроим ваш сайт.
              li Предложим варианты акций и целей для сайта.
              li Составим письма, новости, тексты для распространения условий партнерки клиентам.
          div Останется только отправить. 
            a(href="http://sarafan.online/lk/balance" style="cursor: pointer; color:#4aaf00" target="_blank") Оплатить
      tr 
        td
          div(style="margin-top: 30px") Хорошего дня!
      tr(style="text-align: right;")
        td 
          div(style="margin-top: 50px") Команда Сарафана
      
    // if (gte mso 9)|(IE)
        | Здравствуйте, #{receiver.login} !\n
        | Спасибо, что присоединились к Сарафану.\n
        | Для того, чтобы запустить Сарафан для Вашего бизнеса достаточно: \n
        | 1. Заполнить профиль : http://sarafan.online/lk – 2 минуты \n
        | 2. Добавить сайт, настроить цели : http://sarafan.online/lk/site – 3 минуты \n
        | 3. Дать программисту инструкцию, чтобы он подключил Сарафан к сайту : http://sarafan.online/files/site%20instruction.docx – 5 минут \n
        | 4. Пополнить счет : http://sarafan.online/lk/balance – 2 минуты \n
        | 5. Поделиться акцией в социалках – 1 минута \n
        | Итого: 13 минут для запуска Сарафанного радио. \n
        | Акция! 5 часов работы интернет-маркетолога в подарок при оплате до конца недели: \n
        | 1. Мы настроим ваш сайт. \n
        | 2. Предложим варианты акций и целей для сайта. \n
        | 3. Составим письма, новости, тексты для распространения условий партнерки клиентам. \n
        | 3. Останется только отправить. \n
        | Оплатить : http://sarafan.online/lk/balance  \n
        | Хорошего дня!\n
        | Команда Сарафана\n
